body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: rgb(255, 5, 5);
}

p {
    font-size: 18px;
    margin: 20px;
}

button {
    background-color: rgb(18, 34, 215);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

header {
    background-color: blue;
    padding: 20px;
}

button:hover {
    background-color: rgb(0, 15, 128);
    color: rgb(246, 0, 0);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
